modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[workflows]
runButton = "Build and Run All"

[[workflows.workflow]]
name = "Run Admin Panel"
author = 40510402
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd admin-panel && PORT=5001 npm run dev"

[[workflows.workflow]]
name = "Run User Panel"
author = 40510402
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd user-panel && npm run dev"

[[workflows.workflow]]
name = "Run Vendor Panel"
author = 40510402
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd vendor-panel && npm run dev"

[[workflows.workflow]]
name = "Run All Panels"
author = 40510402
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd admin-panel && PORT=5001 npm run dev"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd user-panel && PORT=5002 npm run dev"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd vendor-panel && PORT=5003 npm run dev"

[[workflows.workflow]]
name = "Run Server"
author = 40510402
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd server && npm run dev"

[[workflows.workflow]]
name = "Build and Run All"
author = 40556038
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd admin-panel && npm run build"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd ../user-panel && npm run build"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd ../vendor-panel && npm run build"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd ../server && npm run dev"

[[ports]]
localPort = 4000
externalPort = 3002

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3000

[[ports]]
localPort = 5003
externalPort = 3001
